body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    height: 85%;
    margin: 0 100px;
    
}

.background {
    height: 100%;
    background-image: url('background1.avif');
    background-size: cover;
    width: 325px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.left {
    height: 100%;
}

.right {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 15% 20px;
}

.input-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name-labels, .name-inputs, .contact-labels, .contact-inputs, .password-labels, .password-inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.name-labels label, .name-inputs input, .contact-labels label, .contact-inputs input, .password-labels label, .password-inputs input{
    width: 45%;
}

.odin-background {
    margin-top: 10%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 12.5%;
    width: 100%;
    font-size: 60px;;
    color: white;
}

.credit {
    margin-top: 300px;
    font-size: 10px;
    text-align: center;
    color: white;
}

.odin-background img {
    max-height: 100%;
    width: auto;
}

button {
    padding: 10px 45px;
    border-radius: 10px;
}

.right > div > p {
    font-size: 15px;
}